body{ 
	background-image: url("horsehead_nebula.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

 }

 header{
 	border-bottom: .1px solid white;
 }

 p.mainHeader{
 	text-align: center;
 	font-size: 5em;
 	color: white;
 	margin-top: 1%;
 	font-family: 'Advent Pro';
 	font-weight: 700;

 }

 p.secondaryHeader {
 	margin-top: -5%;
 	font-family: 'Advent Pro';
 	font-weight: 300;
 	text-align: center;
 	font-size: 1.5em;
 	color: white;
 }

 nav {
 	position: relative;
 	margin-left: 74%;

 }
 .navBar li {
 	display: inline;
 	font-size: 1.45em;
 	padding: 3px 5px;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font-weight: 700

 }
 .navBar a {
 	transition: color 0.75s ease;
 	color: #a101ad;
 }

 .navBar a:hover {
 	color: white;

 }

 p.aboutMeText {
 	color: white;
 	padding-right: 30%;
 	font-family: 'Alegreya Sans SC';
 	font-size: 1.2em;
 	margin-top: -2%;
 }

 h2.aboutMeHeader, h2.experienceHeader {
 	color: white;
 	font-family: 'Alegreya SC';
 	font-size: 40px;

 }

 ul.aboutMeList, ul.experienceList {
 	margin-top: -1%;
 }

 ul.aboutMeList li, ul.experienceList li {
 	color: white;
 	font-size: 1.2em;
 	font-family: 'Alegreya Sans SC'
 }

 h4.jobDesc {
 	color: white;
 	font-family: 'Alegreya SC';
 	font-size: 20px;
 	margin-top: -2%;

 }

 h1.sectionHeader {
 	color: white;
 	font-family: 'Alegreya SC';
 	font-size: 55px;
 	text-align: center;
 }

 #formMessage {
 	font-size: 50px;
 	text-align: center;
 	color: white;
 }

 label{
 	color: white;
 	position: relative;
 	margin-left: 30%;
 	font-size: 2em;
 	font-family: Arial;
 }

 .inputField{
 	 color: blue;
 	 font-size: 12px;
 	 position: fixed;
 	 margin-left: 2%;

 }

 .messageBox{
 	height: 100px;
 	width: 400px;
 	font-size: 16px;
 }

 button {
 	background-color: #a101ad;
 	position: absolute;
 	margin-left: 42%;
 	height: 40px;
 	width: 160px;
 	transition: background-color 0.75s ease;
 	color: black;
 }

 button:hover {
 	background-color: black;
 	color: white;
 }